.header{
<<<<<<< HEAD
  background-color: #41345688;
=======
  background-color: #0d0d0d9d;
>>>>>>> 54ee1e3fbd984ef1785ce3d3f70d1ff1fbd24e12
  position: fixed;
  width: 100%;
  font-size: 1.6rem;
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

